# Introduction to Python
# Homework #5
- You MUST submit on Courseworks before it closes
- Email submissions are NOT accepted

# Academic Honesty
* The computer science department has strict polices. Check
the department [web page](http://www.cs.columbia.edu/education/honesty) for details. 
- Do not look at anybody else's source code. Do not show anybody
your source, or leave your source where somebody could see it.
You MUST write your own code.
- For this class, feel free to discuss issues with other people, but suggest waiting an hour or two after a discussion, before writing your code.
-  Cases of non original source will be refered to the Judical Committee.

# Problems 1
# To file, or not to file
- use 'tp' value as file name for I/O
- all file I/O must be done using 'with' statement
- use variable 'fd' for the file descriptor object
- 'tobe' is 1489 characters
- this problem will give slightly different results on windows and mac. please eval cell below

In [1]:
import sys

sys.platform

'win32'

In [2]:
tobe='''To be, or not to be: that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles,
And by opposing end them? To die: to sleep;
No more; and by a sleep to say we end
The heart-ache and the thousand natural shocks
That flesh is heir to, 'tis a consummation
Devoutly to be wish'd. To die, to sleep;
To sleep: perchance to dream: ay, there's the rub;
For in that sleep of death what dreams may come
When we have shuffled off this mortal coil,
Must give us pause: there's the respect
That makes calamity of so long life;
For who would bear the whips and scorns of time,
The oppressor's wrong, the proud man's contumely,
The pangs of despised love, the law's delay,
The insolence of office and the spurns
That patient merit of the unworthy takes,
When he himself might his quietus make
With a bare bodkin? who would fardels bear,
To grunt and sweat under a weary life,
But that the dread of something after death,
The undiscover'd country from whose bourn
No traveller returns, puzzles the will
And makes us rather bear those ills we have
Than fly to others that we know not of?
Thus conscience does make cowards of us all;
And thus the native hue of resolution
Is sicklied o'er with the pale cast of thought,
And enterprises of great pith and moment
With this regard their currents turn awry,
And lose the name of action.--Soft you now!
The fair Ophelia! Nymph, in thy orisons
Be all my sins remember'd.
'''
len(tobe)

1489

In [3]:
# tobe has newline '\n' chars

tobe

"To be, or not to be: that is the question:\nWhether 'tis nobler in the mind to suffer\nThe slings and arrows of outrageous fortune,\nOr to take arms against a sea of troubles,\nAnd by opposing end them? To die: to sleep;\nNo more; and by a sleep to say we end\nThe heart-ache and the thousand natural shocks\nThat flesh is heir to, 'tis a consummation\nDevoutly to be wish'd. To die, to sleep;\nTo sleep: perchance to dream: ay, there's the rub;\nFor in that sleep of death what dreams may come\nWhen we have shuffled off this mortal coil,\nMust give us pause: there's the respect\nThat makes calamity of so long life;\nFor who would bear the whips and scorns of time,\nThe oppressor's wrong, the proud man's contumely,\nThe pangs of despised love, the law's delay,\nThe insolence of office and the spurns\nThat patient merit of the unworthy takes,\nWhen he himself might his quietus make\nWith a bare bodkin? who would fardels bear,\nTo grunt and sweat under a weary life,\nBut that the dread of something after death,\nThe undiscover'd country from whose bourn\nNo traveller returns, puzzles the will\nAnd makes us rather bear those ills we have\nThan fly to others that we know not of?\nThus conscience does make cowards of us all;\nAnd thus the native hue of resolution\nIs sicklied o'er with the pale cast of thought,\nAnd enterprises of great pith and moment\nWith this regard their currents turn awry,\nAnd lose the name of action.--Soft you now!\nThe fair Ophelia! Nymph, in thy orisons\nBe all my sins remember'd.\n"

In [4]:
# no newline('\n') in tobeLines

tobeLines = tobe.splitlines()
tobeLines

['To be, or not to be: that is the question:',
 "Whether 'tis nobler in the mind to suffer",
 'The slings and arrows of outrageous fortune,',
 'Or to take arms against a sea of troubles,',
 'And by opposing end them? To die: to sleep;',
 'No more; and by a sleep to say we end',
 'The heart-ache and the thousand natural shocks',
 "That flesh is heir to, 'tis a consummation",
 "Devoutly to be wish'd. To die, to sleep;",
 "To sleep: perchance to dream: ay, there's the rub;",
 'For in that sleep of death what dreams may come',
 'When we have shuffled off this mortal coil,',
 "Must give us pause: there's the respect",
 'That makes calamity of so long life;',
 'For who would bear the whips and scorns of time,',
 "The oppressor's wrong, the proud man's contumely,",
 "The pangs of despised love, the law's delay,",
 'The insolence of office and the spurns',
 'That patient merit of the unworthy takes,',
 'When he himself might his quietus make',
 'With a bare bodkin? who would fardels bear,',
 'To grunt and sweat under a weary life,',
 'But that the dread of something after death,',
 "The undiscover'd country from whose bourn",
 'No traveller returns, puzzles the will',
 'And makes us rather bear those ills we have',
 'Than fly to others that we know not of?',
 'Thus conscience does make cowards of us all;',
 'And thus the native hue of resolution',
 "Is sicklied o'er with the pale cast of thought,",
 'And enterprises of great pith and moment',
 'With this regard their currents turn awry,',
 'And lose the name of action.--Soft you now!',
 'The fair Ophelia! Nymph, in thy orisons',
 "Be all my sins remember'd."]

In [5]:
from pathlib import Path

# get a tmp file pathname. all functions below will use it

import tempfile

# does not create the file, just makes a Path
tp = Path(tempfile.NamedTemporaryFile().name)

# define wrLines() and wrChars() functions
- wrLines writes the contents of 'tobeLines' to a file, using the fd.writelines() method. 
you must add a '\n' explicitly to each line. 
- wrChars writes the contents of 'tobe', one character at a time, using fd.write() method
- after the file write is complete, both functions should get the file byte size,
using tp.stat(), and return it.
- note the file length on windows will be a little larger, because windows inserts a carridge return(\r) before each newline(\n)

In [6]:
def wrLines(x, lines):
    with open(x, 'w') as fd:
        fd.writelines(i + '\n' for i in lines)
        
    stat = tp.stat()
    return stat.st_size

In [7]:
def wrChars(x, lines):
    with open(x, 'w') as fd:
        for i in lines:
            fd.write(i)
        
    stat = tp.stat()
    return stat.st_size

In [8]:
wrLines(tp, tobeLines)

1524

In [10]:
tp.stat()

os.stat_result(st_mode=33206, st_ino=3096224744051501, st_dev=1747206750, st_nlink=1, st_uid=0, st_gid=0, st_size=1524, st_atime=1583181022, st_mtime=1583181022, st_ctime=1583181017)

In [11]:
wrChars(tp, tobe)

1524

# define rdAll()
- read the tp file in one fd.read() call (eagar approach)
- return the number of characters read, and index of index of search string, or -1 if not found

In [12]:
def rdAll(x, fi):
    with open(x, 'r') as fd:
        ham = fd.read()
        
    try:
        ind = ham.index(fi)
        return (len(ham), ind)
    except Exception as e:
        ind = -1
        return (len(ham), ind)

In [13]:
[ (s, rdAll(tp, s)) for s in ('foobar', 'not','perchance', 'insolence')]

[('foobar', (1489, -1)),
 ('not', (1489, 10)),
 ('perchance', (1489, 396)),
 ('insolence', (1489, 754))]

# define rdLines()
- read the tp file by using fd.readlines() (eager approach)
- return the number of chars searched, and the line number where the search string was found, otherwise -1

In [14]:
def rdLines( x, fi):
    index = -1
    count = 0
    with open(x, 'r') as fd:
        ham = fd.readlines()
        for i in range(len(ham)):
            count += len(ham[i])
            if fi in ham[i]:
                index = i
                break
            
    return (count, index)

In [15]:
[ (s, rdLines(tp, s)) for s in ('foobar', 'not','perchance', 'insolence')]

[('foobar', (1489, -1)),
 ('not', (43, 0)),
 ('perchance', (437, 9)),
 ('insolence', (789, 17))]

In [16]:
[ (s, rdLines(tp, s)) for s in ('foobar', 'not','perchance', 'insolence')]

[('foobar', (1489, -1)),
 ('not', (43, 0)),
 ('perchance', (437, 9)),
 ('insolence', (789, 17))]

# define rdLine()
- read the tp file by using fd.readline() (lazy approach)
- return the number of chars read, and the line number where the search string was found, otherwise -1

In [17]:
def rdLine(x, fi):
    index = -1
    count = 0
    with open(x, 'r') as fd:
        while True:
            line = fd.readline()
            index = index+1
            count += len(line)
            if fi in line:
                return (count, index)
    
            if line == '':
                break;
        
        return (count, -1)

In [18]:
[ (s, rdLine(tp, s)) for s in ('foobar', 'not', 'perchance', 'insolence')]

[('foobar', (1489, -1)),
 ('not', (43, 0)),
 ('perchance', (437, 9)),
 ('insolence', (789, 17))]

# define rdChar
- read the tp file one character at a time using fd.read(1) (lazy approach)
- fd.read(1) will return an empty string when the file is exhausted
- read the min # of chars to find the search string
- return (# chars read, position of string)

In [19]:
def rdChar(x, fi):
    ham = ""
    
    with open(x, 'r') as fd:
        while True:
            let = fd.read(1)
            ham = ham + let
            
            index = ham.find(fi)
            if index != -1:
                return (len(ham), index)
            
            if let == '':
                break;
            
        return (len(ham), index)

In [20]:
[ (s, rdChar(tp, s)) for s in ('foobar', 'not', 'perchance', 'insolence')]

[('foobar', (1489, -1)),
 ('not', (13, 10)),
 ('perchance', (405, 396)),
 ('insolence', (763, 754))]

# define rdMap
- memory map the tp file (lazy approach)
- return position of search string

In [21]:
import mmap

def rdMap(x, fi):
    fp = open(x, 'r+')
    fn = fp.fileno()
    map = mmap.mmap(fn,0)
    
    map.seek(0)
    return(map.find(fi.encode()))

In [22]:
[ (s, rdMap(tp, s)) for s in ('foobar', 'not', 'perchance', 'insolence')]

[('foobar', -1), ('not', 10), ('perchance', 405), ('insolence', 771)]

# Problem 2 - Hamlet
- Python is very popular in 'Digital Humanities'
- MIT has the complete works of Shakespeare in a simple [html](http://shakespeare.mit.edu) format
- You will do a analysis of Hamlet by reading the html file, one line at 
a time and doing pattern matching
- The goal is to return (the linecnt, total number of 'speeches', dict)
where the dict shows the number of 'speeches' each character gives

- there are at least 3 ways to do this - your choice
    - use string methods like 'find'
    - use regular expressions
    - use beautiful soup(but you'll need a technique i didn't cover)
- you need to decide if you want to work with binary strings or unicode
- i use and recommend defaultdict, but you can use a regular dict if you prefer
- here's a short sample of the file, showing speeches by Horatio, Bernardo, Horatio, Bernardo, Marcellus, Bernardo

```

<A NAME=speech25><b>HORATIO</b></a>
<blockquote>
<A NAME=1.1.37>Tush, tush, 'twill not appear.</A><br>
</blockquote>

<A NAME=speech26><b>BERNARDO</b></a>
<blockquote>
<A NAME=1.1.38>Sit down awhile;</A><br>
<A NAME=1.1.39>And let us once again assail your ears,</A><br>
<A NAME=1.1.40>That are so fortified against our story</A><br>
<A NAME=1.1.41>What we have two nights seen.</A><br>
</blockquote>

<A NAME=speech27><b>HORATIO</b></a>
<blockquote>
<A NAME=1.1.42>Well, sit we down,</A><br>
<A NAME=1.1.43>And let us hear Bernardo speak of this.</A><br>
</blockquote>

<A NAME=speech28><b>BERNARDO</b></a>
<blockquote>
<A NAME=1.1.44>Last night of all,</A><br>
<A NAME=1.1.45>When yond same star that's westward from the pole</A><br>
<A NAME=1.1.46>Had made his course to illume that part of heaven</A><br>
<A NAME=1.1.47>Where now it burns, Marcellus and myself,</A><br>
<A NAME=1.1.48>The bell then beating one,--</A><br>
<p><i>Enter Ghost</i></p>
</blockquote>

<A NAME=speech29><b>MARCELLUS</b></a>
<blockquote>
<A NAME=1.1.49>Peace, break thee off; look, where it comes again!</A><br>
</blockquote>

<A NAME=speech30><b>BERNARDO</b></a>
<blockquote>
<A NAME=1.1.50>In the same figure, like the king that's dead.</A><br>
</blockquote>
```

# Serving Hamlet
- this file, the week5-01-networking-urllib file, and hamlet.html(in CW2/week5) MUST be in the SAME directory
- use the simple server at the end of the week5-01-networking-urllib notebook
    - to start it, evaluate the cell below "A Simple Web Server"
    - once it is running, [this page](http://localhost:8123/hamlet.html) should display Hamlet
    - if you want to kill the server, do Kernel/Restart in the networking file

In [23]:
# must eval this cell

import urllib.request
import collections
import re
import bs4
import lxml

# location of hamlet web page

hamleturl = 'http://localhost:8123/hamlet.html'

In [24]:
# show first 40 lines of hamlet file

with urllib.request.urlopen(hamleturl) as ef:
    for j in range(40):
        print(next(ef))

URLError: <urlopen error [WinError 10061] No connection could be made because the target machine actively refused it>

In [25]:
def hamlet():
    lncnt = 0
    speechcnt = 0
    speeches = {}
    with open('hamlet.html', 'rb') as fd: 
        while True:
            line = fd.readline()
            lncnt = lncnt+1
            
            if b'NAME=speech' in line:
                speechcnt = speechcnt+1
                i = line.find(b'<b>')
                j = line.find(b'</b>')
                key = line[i+3:j]
                
                if key in speeches:
                    speeches[key] = speeches[key]+1
                else:
                    speeches[key] = 1
            
            if line == b'':
                break;
                
        return (lncnt, speechcnt, speeches)

In [26]:
# order of key/value pairs is arbitrary

hamlet()

(8882,
 1150,
 {b'BERNARDO': 23,
  b'FRANCISCO': 8,
  b'HORATIO': 112,
  b'MARCELLUS': 36,
  b'KING CLAUDIUS': 102,
  b'CORNELIUS': 1,
  b'VOLTIMAND': 2,
  b'LAERTES': 62,
  b'LORD POLONIUS': 86,
  b'HAMLET': 359,
  b'QUEEN GERTRUDE': 69,
  b'All': 4,
  b'OPHELIA': 58,
  b'Ghost': 14,
  b'REYNALDO': 13,
  b'ROSENCRANTZ': 48,
  b'GUILDENSTERN': 32,
  b'First Player': 8,
  b'Prologue': 1,
  b'Player King': 4,
  b'Player Queen': 5,
  b'LUCIANUS': 1,
  b'ROSENCRANTZ:': 1,
  b'GUILDENSTERN:': 1,
  b'PRINCE FORTINBRAS': 6,
  b'Captain': 7,
  b'Gentleman': 3,
  b'Danes': 3,
  b'Servant': 1,
  b'First Sailor': 2,
  b'Messenger': 2,
  b'First Clown': 33,
  b'Second Clown': 12,
  b'First Priest': 2,
  b'OSRIC': 25,
  b'Lord': 3,
  b'First Ambassador': 1})

# Problem 3, 4 & 5
# define function savings() 
- savings will create a pandas DataFrame that shows how money will grow with compound interest, with specified rates and sizes of deposits and interest
    - I give you code to do the interest calculation
- [date_range frequencies](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)
    - note - Sundays are selected when a weekly rate is specified
- use floats for money
- I will show you how to build the DataFrame in several steps below, based the default arg values shown below
- the problem statement may seem long, but the code you write
should only be ~35 lines, 8 of which is written for you

In [27]:
from datetime import datetime
from datetime import date
import pandas as pd

In [56]:
# with the arg defaults shown, this will 
# calculate the money accumulated after 
# 31 days, with weekly deposits of $10, 
# at a 10% interest rate compounded
# on each business day

daysofWeek = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday' }

def savings(start = '2018-03-01', end = '2018-03-31',\
            depositFreq='W', depositAmount=10., 
            compoundFreq='B', interestRate=.1 ):
    
    dates = pd.date_range(start, end).to_series()
    money= pd.DataFrame(index=dates).fillna(0.0)
    
    s = start.split('-')
    d = date(int(s[0]), int(s[1]), int(s[2])).weekday()
    dayofweek = []
    for i in range(len(dates)):
        dayofweek.append(daysofWeek[(i+d)%7])

    money['day'] = dayofweek
    
    deposits = pd.Series(depositAmount, index = pd.date_range(start, end, freq = depositFreq))
    
    compound = pd.Series(interestRate, index = pd.date_range(start, end, freq = compoundFreq))
    money['deposits'] = deposits
    money['compound'] = compound

    money = money.fillna(0)
    
    balser = pd.Series(0.0, index = dates)
    intser = pd.Series(0.0, index = dates)
    
    balance = 0.0
    interest = 0.0
    
    
    for j,t in enumerate(money.itertuples()):
        # pull out row values
        td = t.deposits
        ti = t.compound
        # calculate interest and new balance
        balance += td
        interest = balance * ti
        balance += interest
        # update the series objects
        balser[j] = balance
        intser[j] = interest
    
    
        
    money['interest'] = intser
    money['balance']= balser
    
    return money
    
    pass

# hints

In [48]:
# get day name from a date

datetime.now().strftime('%A')

'Monday'

In [49]:
# make DataFrame with an index but no columns

days = ['day1', 'day2']
nocol=pd.DataFrame(index=days)
nocol

Empty DataFrame
Columns: []
Index: [day1, day2]

In [50]:
# can give a Series a single data value, 
# and it will be repeated
# to be as long as the index

pd.Series(10, index=days)

day1    10
day2    10
dtype: int64

In [51]:
# a Series can be added as a column to a DataFrame

ser = pd.Series(['Tues','Wed'], index=days)
ser

day1    Tues
day2     Wed
dtype: object

In [43]:
# like adding a key/value pair to a dict

nocol['day'] = ser
nocol

       day
day1  Tues
day2   Wed

In [44]:
# you can iterate over the rows of a 
# DataFrame with itertuples()
# t.X gets the value of the column 
# named X in the row

for t in nocol.itertuples():
    print(t.day)

Tues
Wed

# savings examples

In [57]:
# use all the defaults
# (start = '2018-03-01', end = '2018-03-31',
#            depositFreq='W', depositAmount=10., 
#            compoundFreq='B', interestRate=.1 

savings()

                  day  deposits  compound   interest     balance
2018-03-01   Thursday       0.0       0.1   0.000000    0.000000
2018-03-02     Friday       0.0       0.1   0.000000    0.000000
2018-03-03   Saturday       0.0       0.0   0.000000    0.000000
2018-03-04     Sunday      10.0       0.0   0.000000   10.000000
2018-03-05     Monday       0.0       0.1   1.000000   11.000000
2018-03-06    Tuesday       0.0       0.1   1.100000   12.100000
2018-03-07  Wednesday       0.0       0.1   1.210000   13.310000
2018-03-08   Thursday       0.0       0.1   1.331000   14.641000
2018-03-09     Friday       0.0       0.1   1.464100   16.105100
2018-03-10   Saturday       0.0       0.0   0.000000   16.105100
2018-03-11     Sunday      10.0       0.0   0.000000   26.105100
2018-03-12     Monday       0.0       0.1   2.610510   28.715610
2018-03-13    Tuesday       0.0       0.1   2.871561   31.587171
2018-03-14  Wednesday       0.0       0.1   3.158717   34.745888
2018-03-15   Thursday       0.0       0.1   3.474589   38.220477
2018-03-16     Friday       0.0       0.1   3.822048   42.042525
2018-03-17   Saturday       0.0       0.0   0.000000   42.042525
2018-03-18     Sunday      10.0       0.0   0.000000   52.042525
2018-03-19     Monday       0.0       0.1   5.204252   57.246777
2018-03-20    Tuesday       0.0       0.1   5.724678   62.971455
2018-03-21  Wednesday       0.0       0.1   6.297145   69.268600
2018-03-22   Thursday       0.0       0.1   6.926860   76.195460
2018-03-23     Friday       0.0       0.1   7.619546   83.815006
2018-03-24   Saturday       0.0       0.0   0.000000   83.815006
2018-03-25     Sunday      10.0       0.0   0.000000   93.815006
2018-03-26     Monday       0.0       0.1   9.381501  103.196507
2018-03-27    Tuesday       0.0       0.1  10.319651  113.516158
2018-03-28  Wednesday       0.0       0.1  11.351616  124.867773
2018-03-29   Thursday       0.0       0.1  12.486777  137.354551
2018-03-30     Friday       0.0       0.1  13.735455  151.090006
2018-03-31   Saturday       0.0       0.0   0.000000  151.090006

In [58]:
# more frequent savings deposits

savings(depositFreq='B')

                  day  deposits  compound   interest     balance
2018-03-01   Thursday      10.0       0.1   1.000000   11.000000
2018-03-02     Friday      10.0       0.1   2.100000   23.100000
2018-03-03   Saturday       0.0       0.0   0.000000   23.100000
2018-03-04     Sunday       0.0       0.0   0.000000   23.100000
2018-03-05     Monday      10.0       0.1   3.310000   36.410000
2018-03-06    Tuesday      10.0       0.1   4.641000   51.051000
2018-03-07  Wednesday      10.0       0.1   6.105100   67.156100
2018-03-08   Thursday      10.0       0.1   7.715610   84.871710
2018-03-09     Friday      10.0       0.1   9.487171  104.358881
2018-03-10   Saturday       0.0       0.0   0.000000  104.358881
2018-03-11     Sunday       0.0       0.0   0.000000  104.358881
2018-03-12     Monday      10.0       0.1  11.435888  125.794769
2018-03-13    Tuesday      10.0       0.1  13.579477  149.374246
2018-03-14  Wednesday      10.0       0.1  15.937425  175.311671
2018-03-15   Thursday      10.0       0.1  18.531167  203.842838
2018-03-16     Friday      10.0       0.1  21.384284  235.227121
2018-03-17   Saturday       0.0       0.0   0.000000  235.227121
2018-03-18     Sunday       0.0       0.0   0.000000  235.227121
2018-03-19     Monday      10.0       0.1  24.522712  269.749834
2018-03-20    Tuesday      10.0       0.1  27.974983  307.724817
2018-03-21  Wednesday      10.0       0.1  31.772482  349.497299
2018-03-22   Thursday      10.0       0.1  35.949730  395.447028
2018-03-23     Friday      10.0       0.1  40.544703  445.991731
2018-03-24   Saturday       0.0       0.0   0.000000  445.991731
2018-03-25     Sunday       0.0       0.0   0.000000  445.991731
2018-03-26     Monday      10.0       0.1  45.599173  501.590904
2018-03-27    Tuesday      10.0       0.1  51.159090  562.749995
2018-03-28  Wednesday      10.0       0.1  57.274999  630.024994
2018-03-29   Thursday      10.0       0.1  64.002499  704.027494
2018-03-30     Friday      10.0       0.1  71.402749  785.430243
2018-03-31   Saturday       0.0       0.0   0.000000  785.430243

# howto build a savings data frame, column by column, using the default arg values

In [122]:
# default interval

start = '2018-03-01'
end = '2018-03-31'

In [123]:
# using pd.date_range, make a DataFrame 
# called 'money' with no columns, and
# an index of all the days in the 
# (start, end) interval
dates = pd.date_range(start, end).to_series()
money= pd.DataFrame(index=dates)
money

Empty DataFrame
Columns: []
Index: [2018-03-01 00:00:00, 2018-03-02 00:00:00, 2018-03-03 00:00:00, 2018-03-04 00:00:00, 2018-03-05 00:00:00, 2018-03-06 00:00:00, 2018-03-07 00:00:00, 2018-03-08 00:00:00, 2018-03-09 00:00:00, 2018-03-10 00:00:00, 2018-03-11 00:00:00, 2018-03-12 00:00:00, 2018-03-13 00:00:00, 2018-03-14 00:00:00, 2018-03-15 00:00:00, 2018-03-16 00:00:00, 2018-03-17 00:00:00, 2018-03-18 00:00:00, 2018-03-19 00:00:00, 2018-03-20 00:00:00, 2018-03-21 00:00:00, 2018-03-22 00:00:00, 2018-03-23 00:00:00, 2018-03-24 00:00:00, 2018-03-25 00:00:00, 2018-03-26 00:00:00, 2018-03-27 00:00:00, 2018-03-28 00:00:00, 2018-03-29 00:00:00, 2018-03-30 00:00:00, 2018-03-31 00:00:00]

In [124]:
# add a 'day' column to money

s = start.split('-')
d = date(int(s[0]), int(s[1]), int(s[2])).weekday()
dayofweek = []
for i in range(len(dates)):
    dayofweek.append(days[(i+d)%7])

money['day'] = dayofweek
money

                  day
2018-03-01   Thursday
2018-03-02     Friday
2018-03-03   Saturday
2018-03-04     Sunday
2018-03-05     Monday
2018-03-06    Tuesday
2018-03-07  Wednesday
2018-03-08   Thursday
2018-03-09     Friday
2018-03-10   Saturday
2018-03-11     Sunday
2018-03-12     Monday
2018-03-13    Tuesday
2018-03-14  Wednesday
2018-03-15   Thursday
2018-03-16     Friday
2018-03-17   Saturday
2018-03-18     Sunday
2018-03-19     Monday
2018-03-20    Tuesday
2018-03-21  Wednesday
2018-03-22   Thursday
2018-03-23     Friday
2018-03-24   Saturday
2018-03-25     Sunday
2018-03-26     Monday
2018-03-27    Tuesday
2018-03-28  Wednesday
2018-03-29   Thursday
2018-03-30     Friday
2018-03-31   Saturday

In [125]:
# make a 'deposits' series, 
# at default frequency and amount

deposits = pd.Series(10.0, index = pd.date_range(start, end, freq = 'W'))

deposits

2018-03-04    10.0
2018-03-11    10.0
2018-03-18    10.0
2018-03-25    10.0
Freq: W-SUN, dtype: float64

In [126]:
# likewise make series 'compound' of interestRate
# at default frequency and amount

compound = pd.Series(0.1, index = pd.date_range(start, end, freq = 'B'))

compound

2018-03-01    0.1
2018-03-02    0.1
2018-03-05    0.1
2018-03-06    0.1
2018-03-07    0.1
2018-03-08    0.1
2018-03-09    0.1
2018-03-12    0.1
2018-03-13    0.1
2018-03-14    0.1
2018-03-15    0.1
2018-03-16    0.1
2018-03-19    0.1
2018-03-20    0.1
2018-03-21    0.1
2018-03-22    0.1
2018-03-23    0.1
2018-03-26    0.1
2018-03-27    0.1
2018-03-28    0.1
2018-03-29    0.1
2018-03-30    0.1
Freq: B, dtype: float64

In [166]:
# now add deposits and compound to money
# note how the indexes of the new series
# lined up correctly with the money.index

# do something appropriate with the NaN's

money['deposits'] = deposits
money['compound'] = compound

money = money.fillna(0)

money

                  day  deposits  compound
2018-03-01   Thursday       0.0       0.1
2018-03-02     Friday       0.0       0.1
2018-03-03   Saturday       0.0       0.0
2018-03-04     Sunday      10.0       0.0
2018-03-05     Monday       0.0       0.1
2018-03-06    Tuesday       0.0       0.1
2018-03-07  Wednesday       0.0       0.1
2018-03-08   Thursday       0.0       0.1
2018-03-09     Friday       0.0       0.1
2018-03-10   Saturday       0.0       0.0
2018-03-11     Sunday      10.0       0.0
2018-03-12     Monday       0.0       0.1
2018-03-13    Tuesday       0.0       0.1
2018-03-14  Wednesday       0.0       0.1
2018-03-15   Thursday       0.0       0.1
2018-03-16     Friday       0.0       0.1
2018-03-17   Saturday       0.0       0.0
2018-03-18     Sunday      10.0       0.0
2018-03-19     Monday       0.0       0.1
2018-03-20    Tuesday       0.0       0.1
2018-03-21  Wednesday       0.0       0.1
2018-03-22   Thursday       0.0       0.1
2018-03-23     Friday       0.0       0.1
2018-03-24   Saturday       0.0       0.0
2018-03-25     Sunday      10.0       0.0
2018-03-26     Monday       0.0       0.1
2018-03-27    Tuesday       0.0       0.1
2018-03-28  Wednesday       0.0       0.1
2018-03-29   Thursday       0.0       0.1
2018-03-30     Friday       0.0       0.1
2018-03-31   Saturday       0.0       0.0

In [51]:
# so, all the above operations should be
# in your savings function. finally,
# make two more Series objects called 
# intser and balser - they should use the 
# index of all the days that money used, 
# and the initial value of all the rows 
# should be 0.0 these will become 
# the last two columns of money

# run this loop at the end of your savings function
# to do the interest calculation

'''
    for j,t in enumerate(money.itertuples()):
        # pull out row values
        td = t.deposits
        ti = t.compound
        # calculate interest and new balance
        balance += td
        interest = balance * ti
        balance += interest
        # update the series objects
        balser[j] = balance
        intser[j] = interest
'''

# this will load up intser and balser with the 
# appropriate values. finally, add them as 
# the 'interest' and 'balance' columns to the
# money data frame

None